<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeKT8OZbTp8MmAcm-8_CVPulBe4t4lAGA</string>
	<key>GCM_SENDER_ID</key>
	<string>362397402376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tripoolApp</string>
	<key>PROJECT_ID</key>
	<string>tripool-ea5ee</string>
	<key>STORAGE_BUCKET</key>
	<string>tripool-ea5ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362397402376:ios:5bd6da36b93081282498bd</string>
	<key>DATABASE_URL</key>
	<string>https://tripool-ea5ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>